<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> TO DO LIST</title>
</head>
<style>
button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.30em);
}
</style>
<body style="background-color: #193718">
    <center>
        <h1 style="color:#FF8BFF">𝕋𝕆 𝔻𝕆 𝕃𝕀𝕊𝕋</h1>
        <h2 style="color:#FF8BFF">𝒜𝒫𝒫𝐿𝐼𝒞𝒜𝒯𝐼𝒪𝒩 𝒯𝒪 𝒮𝒯𝒪𝑅𝐸 𝒴𝒪𝒰𝑅 𝒜𝒞𝒯𝐼𝒱𝐼𝒯𝒴 𝒜𝒩𝒟 𝒯𝑅𝒜𝒞𝒦 𝒯𝐻𝐸 𝒜𝒞𝒯𝐼𝒱𝐼𝒯𝒴</h2>
        <br>
        <p><a href=add><button class=grey style="height:75px;width:150px; background-color:#FF8BFF;border: 1px #FF8BFF;border-radius: 15px">ADD TASK</button></a></p>
        <p><a href=view><button class=grey style="height:75px;width:150px;background-color:#FF8BFF;border: 1px #FF8BFF;border-radius: 15px">VIEW TASK</button></a></p>
        <br>
        <h4 style="color:#FF8BFF">CLICK [ADD TASK] TO ADD ANY TASK TO YOUR TO DO LIST</h4>
        <h4 style="color:#FF8BFF">OR</h4>
        <h4 style="color:#FF8BFF">CLICK [VIEW TASK] TO VIEW YOUR TODO LIST</h4>
    </center>
    <br>
    <br>
    <br>
<hr style="width: 10%;border-style: dotted none none;border-width: 5px;border-color: #FF8BFF">
</body>
<footer>
    <center><h5 style="color:#FF8BFF">@Rikuzavi 2023</h5></center>
</footer>
</html>